@media only screen and (min-width: 1200px) {
  #main {
    padding: 100px 100px 0 100px;
  }


  /*=======================================================*/
  /*FONT STYLES*/
  /*=======================================================*/

  h1 {
    font-size: 4.5rem;
    line-height: 6rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  h3 {
    font-size: 1.3rem;
    margin: .47rem 0 2rem 0;
  }

  h4 {
    font-size: 2rem;
  }

  p {
    font-size: 1.3rem;

  }


  button:hover {
    background-color: #654D87;
    transform: scale(1.05);
  }


  /*=======================================================*/
  /*NAV*/
  /*=======================================================*/
  .nav_link:hover ul {
    height: 144px;
  }


  /*=======================================================*/
  /*FOOTER*/
  /*=======================================================*/

  footer {
    padding: 100px 100px 30px 100px;
  }

  /*=======================================================*/
  /*GRID TEST*/
  /*=======================================================*/
  section.layout_section {
    margin: 0 0 300px 0;
  }
}
